*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(215, 215, 215, 1);
}

.nav-div{
    display: flex;
    float: right;
    width: 100%;
    height: 100vh;
    /* right: 0px; */
    /* background-color: black; */
   
    
}
.nav-div::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/A_professional_digital_illustration_of_a_young_man.jpg') no-repeat center/cover;
    opacity: 0.5; /* Adjust transparency */
    z-index: -1;
}
.navbar ul{
    margin: 10px;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 250px;
    top: 50px;
    gap: 60px;
}
.navbar li{
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-shadow:  5px 5px 6px black;
}
.navbar li:hover{
color: rgba(144, 144, 144, 1);
font-size: 30px;
transition: 0.5s;
}
.navbar a{
text-decoration: none;
}
.intro{
    color: black;
    position: absolute;
    top: 40%;
    left: 80px;
    font-size: 20px;
}
.intro h3{
    color: rgba(144, 144, 144, 1);
}
.logo-div{
  
    display: flex;
    gap: 20px;
}

.logo-div img{
    /* background-color: rgba(196, 196, 196, 1) ; */
    top: 6px;
    width: 30px;
    height: 30px;
    
}
.first-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

}
.second-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
}
.third-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 

}
.intro-box{
    background-color: rgba(196, 196, 196, 1);
    position: relative;
    display: flex;
    top: 200px;
    margin: -10px;
    
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Center button inside the section */
.section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Style the button */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 100px;
    border: 6px solid black;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 5px;
}
.section-p{
    flex-basis: 100%;
    margin: 30px;
    padding: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    
    
}
.dev-design{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    
    
}
.design{
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 20px;
    font-weight: 200;
   
}
.development{
    margin: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}
.design h3 p{
    font-weight: 100;
    margin: 10px;
    font-size: 10px;
}
.development h3 p{
    font-weight: 100;
    margin: 10px;
    font-size: 10px;
}
#skill-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;  
     
}

.lang-framework{
    position: relative;
    margin-top: 200px;
    display: flex;
    gap: 100px;
    flex-direction: column;

}
.lang-framework img{
    width: 200px;
}
.lang-framework h1{
position: absolute;
/* bottom: 0; */
top: -70px;
margin-left: 40%;

}

.uper-skill-section{
    width: 100%;
    display: flex;
    gap: 70px;
}
.lower-skill-section{
    width: 100%;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-left: 0x;
}
.btn-div{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -1200px;;
    
    
}
.learning-div{
    position: relative;
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}
.learning-div img{
    width: 150px;
    
    

}
.learning-div h1{
position: absolute;
font-size: 35px;
margin-left: 35px;

}
#project-section{
    margin-top: 300px;
    position: relative;
    width: 100%;
    height: 100vh;
}
.project-heading{
    position: absolute;
    top: 50px;
    font-size: 40px;
    font-weight: 600;
}
.project-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    gap: 90px;
}

.project-1{
    background: url(./images/Screenshot\ 2025-02-04\ 154454.png);
    background-position:inherit;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
.project-div a{
    
    color: black;
    text-decoration: none;
    text-shadow: 5px 5px 10px white;
}
.project-div a p{
    position: relative;
    top: 150px;
}
.project-2{
    background: url(./images/Screenshot\ 2025-02-04\ 160411.png);
    background-position:inherit;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 2px solid black; */
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
.project-3{
    background: url(./images/Screenshot\ 2025-02-04\ 163022.png);
    background-position:inherit;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 2px solid black; */
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;  
}
.contacts-section{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-div{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-div form{
    margin: 80px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.contact-div form input{
    width: 600px;
    height: 80px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: transparent;
    border-right: transparent;
    font-size: 20px;
    color: black;
    background-color: transparent;
}
.contact-div form textarea{
    width: 600px;
    height: 120px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: transparent;
    border-right: transparent;
    font-size: 20px;
    color: black;
    background-color: transparent; 
}
.input::placeholder , textarea::placeholder{
color: #8B8B8B;
}
input:focus, textarea:focus {
    outline: none;
}
  .submit-button{
    border-top: transparent !important;
    border-bottom: transparent;
    font-size: 30px;
    height: 50px !important;
    font-weight: 300;
    
  }
  .copyright-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
    justify-content: center;
    width: 100%;
    background-color: #1A1A1A;
    height: 250px;

  }
  .copyright-div p{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
  }
  .copyright-div a{
    text-decoration: none;
  }
  .copyright-div img{
   
    size: 10px;
  }
  .links-div{
    display: block;
    flex-direction: row;
    margin-top: 20px;
    padding: 20px;
    
    display: flex;
    gap: 40px;
  }
  .links-div img{
    width: 50px;
  }
  .copyright-para{
    margin: 20px;
    font-size: 10px;
    font-weight: 100;
  }
 
@media (width<700px) {
    
    .nav-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-p{
        font-size: 30px !important;
        margin-left: 105px;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* margin: 20px; */
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .intro{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .intro h2{
       font-size: 20px;
    }
    .intro h1{
        font-size: 20px;
    }
    .intro h3{
        color: black;
    }
    .logo div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section-div a button{
        width: auto;
        font-size: 10px;
        
    }
    
    .lang-framework h1{
        position: absolute;
        margin-top: 10px;
    }
    .lang-framework{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        top: 600px;
        
    }
    .lang-framework img{
        width: 100px;
    }
    .lang-framework .uper-skill-section{
        display: flex;
        flex-direction: column;
    }
    .lang-framework .lower-skill-section{
        display: flex;
        flex-direction: column;
    }
    .learning-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        top: -150px;
    }
    .project-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .project-div{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 1100px;
        flex-wrap: wrap;
    }
    .project-heading{
        
        margin-top: 100px;
        font-size: 40px;
        font-weight: 700;
    }
    .project-div #project-box{
        width: 200px;
        height: 200px;
    }
    .project-name{
        position: absolute;
        font-size: 100px;
    }
    .contact-section{
        height: 100vh;
        display: flex;
        
    }
    .contact-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 1400px;
    }
    .contact-div form input {
        width: 300px;
        height: 50px;
    }
    .contact-div form textarea{
        width: 500px;
        height: 100px;
    }
    .copyright-div{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1200px;
    }
    .links-div{
        position: absolute;
        display: flex;
        top: 1000px;
    }
   
    
}